.modal {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;

    width: 100vw;
    height: 100vh;

    opacity: 0;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: visibility .3s, opacity .3s, backdrop-filter .3s;
}

.modal.opened {
    opacity: 1;
    visibility: visible;
}

.content_wrapper {
    display: flex;
    gap: 20px;

    align-items: start;
}

.content {
    background-color: var(--color-background);
    padding: 30px;

    border-radius: 35px;

    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    width: 8px;
}
.content::-webkit-scrollbar-track {
    background: transparent;
}
.content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.close_button {
    border-radius: 100%;
    background-color: var(--color-text);

    padding: 10px;

    cursor: pointer;

    transition: background-color .3s;
    user-select: none;

    margin-top: 35px;
}

.close_button:hover {
    background-color: #FF5757;
}