.header {
    display: flex;
    align-items: center;

    gap: 20px;
    margin-bottom: 25px;
}

.header > * {
    flex-shrink: 0;
}

.filter {
    flex-grow: 1;
    border-radius: 35px;
    padding: 12px 25px;

    background-color: var(--color-surface);

    border: none;
    outline: none;

    color: var(--color-text);
}

.aggregaion_period {
    background-color: var(--color-surface);
    padding: 12px 12px;
    border-radius: 15px;
    user-select: none;

    opacity: .5;

    cursor: help;
}