# The interface from which packets from WAN to LAN will be received
SNIFF_INTERFACE_IN = eth0

# The interface from which packets from LAN to WAN will be received
SNIFF_INTERFACE_OUT = eth2

# The interface to which packets will be sent
OUT_INTERFACE = eth2

# MAC adress on interface to which packets will be sent
MY_MAC = 12:34:56:78:9a:bc

# IP adress on interface to which packets will be sent
MY_IP = 10.91.89.55

# Global IP address of Control and Status Server
CNSS_IP = 10.91.89.55