.page {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 35px;

    border-radius: var(--card-border-radius);
    background: var(--gradient-card);
}

.input {
    background-color: var(--color-background);
    
    border-radius: var(--card-border-radius);
    border: none;

    padding: 10px 20px;

    color: var(--color-text);

    width: 300px;

    transition: outline .2s;

    outline: 0px solid transparent;
}

.input:focus-visible {
    outline: 1px solid var(--color-secondary);
}

.input:invalid {
    box-shadow: 0 0 7px var(--color-fail);
}

.input:invalid:focus-visible {
    outline: 1px solid var(--color-fail);
}

.title {
    margin-bottom: 20px;
}

.button {
    background: var(--gradient-main);

    border-radius: var(--card-border-radius);

    padding: 10px 20px;
    border: none;

    color: var(--color-text);

    cursor: pointer;

    transition: box-shadow .4s, filter .4s;
}

.button:hover {
    box-shadow: 0 0 5px var(--color-secondary);
}

.button:disabled {
    filter: contrast(0.6);
    cursor: wait;
}

.error {
    color: var(--color-fail);
}