# The interface from which packets will be received in IN direstion (fron WAN to LAN)
SNIFF_INTERFACE_IN=eth2

# The interface from which packets will be received in OUT direstion (fron LAN to WAN)
SNIFF_INTERFACE_OUT=eth3

# The interface to which packets will be sent
OUT_INTERFACE=eth1

# MAC adress on interface to which packets will be sent
MY_MAC=12:34:56:78:9a:bc

# Static IP adress on interface to which packets will be sent to CN (by wired connection with CN)
MY_IP=192.168.100.2

# Static IP address of Communication node on physical Ethernet interface (by wired connection with CN)
CN_IP=127.0.0.1