# The interface from which packets will be received
SNIFF_INTERFACE = eth1

# The interface to which packets will be sent
OUT_INTERFACE = loopback0

# MAC adress on interface to which packets will be sent
MY_MAC = 98:5f:41:d8:be:b8

# IP adress on interface to which packets will be sent
MY_IP = 127.0.0.2

# Global IP address of Control and Status Server
CNSS_IP = 127.0.0.1

# Period of time of collecting packets from TP for 1 packet to CnSS (in ms) 
TIME_WINDOW = 500