.column {
  font-size: 1rem;
  
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  --column-height: 135px;
  --column-width: 80px;

  .data {
    background: #272727;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    height: var(--column-height);
    width: 100%;

    border-radius: 40px;

    overflow: hidden;

    max-width: var(--column-width);
  }

  .data_representation {
    position: absolute;
    width: 100%;

    bottom: 0;

    background: linear-gradient(360deg, #5336C9 0px, #478AC5 calc(var(--column-height)/2), #CC85A8 calc(var(--column-height)));
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: height 0.5s ease;
    max-width: var(--column-width);
  }

  .value {
    font-weight: bold;
    text-align: center;
    flex-grow: 0;

    z-index: 2;

    margin-top: 10px;
  }

  .label {
    text-align: center;
    color: var(--color-text-muted);
  }
}