.chart {
  padding: 30px; 
  width: fit-content;
  min-width: 300px;
}

.title {
  font-weight: normal;
}

.columns {
  margin-top: 30px;

  display: flex;
  gap: 20px;

  align-items: center;
  justify-content: center;
}