
.selectors {
    display: flex;
    gap: 15px;
}

.selector {
    border: none;
    outline: none;

    min-width: 40px;
    min-height: 40px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-surface-hover);

    font-size: 1rem;
    font-weight: bold;
    color: var(--color-text);

    cursor: pointer;
    transition: background-color .3s;
}

.selector:not(.active):hover {
    background-color: #413280;
}

.selector.active {
    background-color: var(--color-primary);
}